h1{
	text-align: center;
	color: #db5966;
	font-family: cursive;
	font-size: xx-large;
	font-weight: bold;

}
body{
	background-color: black;
	overflow: auto;
}
.col{
	margin: 2%;
	transition: 2s;
}
.col:hover{
	width: 200px;
	background-color: #800040;
	opacity: 1;
	width:110px;
	height: 67px;
}
.col:focus{
			background-color: #ffff00;
		}